<div class="container description">
    <h1>Description</h1>
    <p><b>Sitaara Lifestyle Homes</b> is committed to build luxurious homes at prime locations across
        Hyderabad. Our properties are 100% HMDA approved & constantly growing it’s asset value.
        luxurious homes at prime locations across Hyderabad. Our properties are 100% HMDA
        approved & constantly growing it’s asset value. Sitaara Lifestyle Homes is committed to.</p>
    <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i><span>#1-98/9/3/3, Flat-202, Silicon Towers, Image Garden Road, VIP
        Hills,Hyderabad - 500081.</span></a>
        <button class="btn"><i class="fa fa-download" aria-hidden="true"></i>Brochure</button>
</div>