<!-- As a link -->
<nav class="navbar top-nav">
  <div class="container">
    <div class="contact-info">
      <a href="tel:+91 9988009933" class="phone">Call: +91 9988009933</a>
      <a href="mailto:info@sitaarahomes.com" class="email">Email: info@sitaarahomes.com</a>
      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>
<!-- ---------------banner------------------- -->
<div class="banner">
  <div class="container">
    <div>
      <ul class="menu">
        <li class="menu-list"><a href="#">About Sitaara</a></li>
        <li class="menu-list"><a href="#">Our Plots</a></li>
        <li class="menu-list"><a href="#">Our Projects</a></li>
        <li class="menu-list"><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="address">
      <button class="btn btn-primary">on sale</button>
      <h1>Sitaara Premium Plots</h1>
      <h5>Hitech City, Hyderabad.</h5>
    </div>
  </div>
</div>
<!-----------------------------main menu ----------------------------- -->
<!-- As a link -->
<nav class="navbar main-nav bg-light">
  <div class="container">
    <ul class="main-menu">
      <a routerLink="/description">Description</a>
      <a routerLink="/amenities">Amenities</a>
      <a routerLink="/sitelayout">Site Layout</a>
      <a routerLink="/location">Location Details</a>
      <a routerLink="/gallery">Gallery</a>
    </ul>
    <button class="btn btn-primary">Enquire Now</button>
  </div>
</nav>
<!-- ------------------------section page--------------------- -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-3 aside">
        <div class="box">
          <h5>Total Area</h5>
          <h2>2500 Sq. Yards</h2>
        </div>
        <div class="box">
          <h5>Total No. Of Plots</h5>
          <h2>100 Plots</h2>
        </div>
        <div class="box">
          <h5>Plot Size</h5>
          <h2>200-500 Sq. Yards</h2>
        </div>
        <div class="box">
          <h5>Price</h5>
          <h2>Rs.5000*/Sq.Yard</h2>
        </div>
        <div class="">
          <h5>Starting Price</h5>
          <h2>10 Lakhs*</h2>
        </div>
      </div>
    </div>
  </div>
</section>






<!-------------------------------------footer------------------------- -->
<footer>
  <div class="top-footer">
    <div class="container">
      <div class="social-icons">
        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
      <div class="headline">
        <h3>Sitaara Lifestyle Homes Pvt. Ltd.</h3>
        <p>#1-98/9/3/3, Flat-202, Silicon Towers, Image Garden Road, VIP Hills,<br>Hyderabad - 500081.</p>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <h5>2021 Copyrights. Sitaara Lifestyle Homes Pvt. Ltd</h5>
      <h5>Crafted With Love By Keera.
      </h5>
    </div>
  </div>
</footer>